.menu_container {
    box-shadow: 7px 0px 17px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    padding-left: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    text-decoration: none;
    color: black;
}
