@import '../../styles/constants.scss';

.link {
    text-decoration: none;
    border: 2px solid transparent;
    &:is(:hover) {
        background-color: darken($bg-color-active, 10);
    }
    transition: all 0.2s ease;
    padding: 10px 0px;
    color: $font-color;
    padding-left: 20px;
}

.active {
    background-color: $bg-color-active;
    font-weight: 600;
}
